@font-face {
  font-weight: normal;
  font-family: "Roboto";

  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";

  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";

  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #283136;
  letter-spacing: normal;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* ================================= хедер ================================= */
.main-header {
  background-color: #eeeeee;
  min-width: 1200px;
}

.main-navigation {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #000000;
}

.header-logo {
  display: block;
  padding: 0;
  margin: 49px 0 0 0;
}

.header-site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 74px 0 0 162px;
  width: 500px;
}

.main-navigation a {
  text-transform: uppercase;
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.header-site-navigation-item {
  margin: 0 46px 0 0;
  position: relative;
}

.header-navigation-item-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
  bottom: -6px;
  left: 0px;
}

.header-cart-button {
  padding: 0 0 0 40px;
  margin: 74px 0 0 auto;
  position: relative;
  align-self: flex-start;
}

.header-cart-button::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-page .header-logo:hover,
.catalog-page .header-logo:focus {
  opacity: 0.8;
}

.catalog-page .header-logo:active {
  opacity: 0.3;
}

/* ========================================================================= */
/* ============================= слайдер =================================== */
.promo-slides {
  background-color: #eeeeee;
  min-width: 1200px;
  margin: 0 0 80px 0;
}

.slider-wrapper {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.promo-slides-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-slides-list h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: normal;
  max-width: 560px;
  margin: 0 0 26px 0px;
}

.promo-slides-list p {
  max-width: 430px;
  margin: 0;
}

.promo-slides-item {
  min-height: 354px;
  padding: 68px 0 0 0;
  display: none;
}

.promo-slides-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 431px 9px;
}

.promo-slides-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 496px -8px;
}

.promo-slides-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 401px 10px;
}

.promo-slider-controls {
  position: absolute;
  width: 110px;
  height: 18px;
  display: flex;
  bottom: 96px;
  left: 556px;
  font-size: 0;
}

.promo-slider-controls label {
  position: relative;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  font-size: 0;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 17px 0 0;
}

.promo-slider-radio-1:focus ~ .promo-slider-controls .promo-slider-control--1,
.promo-slider-radio-2:focus ~ .promo-slider-controls .promo-slider-control--2,
.promo-slider-radio-3:focus ~ .promo-slider-controls .promo-slider-control--3 {
  /*border: 1px solid #4d90fe;*/
  outline: none;
  -webkit-box-shadow: 0 0 5px #4d90fe;
          box-shadow: 0 0 5px #4d90fe;
}

.promo-slider-radio-1:checked ~ .promo-slides-list .promo-slides-item:nth-child(1),
.promo-slider-radio-2:checked ~ .promo-slides-list .promo-slides-item:nth-child(2),
.promo-slider-radio-3:checked ~ .promo-slides-list .promo-slides-item:nth-child(3) {
  display: block;
}

.promo-slider-radio-1:checked ~ .promo-slider-controls .promo-slider-control--1::before,
.promo-slider-radio-2:checked ~ .promo-slider-controls .promo-slider-control--2::before,
.promo-slider-radio-3:checked ~ .promo-slider-controls .promo-slider-control--3::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  box-sizing: border-box;
  width: 8px;
  height: 8px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 240px;
  padding: 16px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-slider-item {
  margin: 40px 0 0 0;
}
/* ========================================================================= */
/* ============================ продукты =================================== */
.products {
  width: 1160px;
  padding: 0 20px 81px 20px;
  margin: 0 auto;
  border-bottom: 2px solid #eeeeee;
}

.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.products-list-item {
  margin: 0 100px 0 0;
  padding: 147px 0 0 0;
  width: 300px;
}

.products-list-item h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.products-list-item p {
  width: 280px;
}

.products-list-item:nth-child(3n) {
  margin-right: 0;
}

.products-list-item:nth-child(1) {
  background-image: url("../img/product-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products-list-item:nth-child(2) {
  background-image: url("../img/product-2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.products-list-item:nth-child(3) {
  background-image: url("../img/product-3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-products-item {
  width: 160px;
  margin-top: 32px;
}

/* не-красные кнопки только в одном месте, желтые и зеленые сделаю через nth-child */
.products-list-item:nth-child(2) .button {
  background-color: #00ca74;
}

.products-list-item:nth-child(2) .button:hover,
.products-list-item:nth-child(2) .button:focus {
  background-color: #00bc6c;
}

.products-list-item:nth-child(2) .button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.products-list-item:nth-child(3) .button {
  background-color: #efc84a;
}

.products-list-item:nth-child(3) .button:hover,
.products-list-item:nth-child(3) .button:focus {
  background-color: #eab534;
}

.products-list-item:nth-child(3) .button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* ========================================================================= */
/* =========================== index-columns =============================== */
.index-columns {
  width: 1160px;
  padding: 0 20px 57px 20px;
  margin: 0 auto;
  border-bottom: 2px solid #eeeeee;
  display: flex;
}

.about {
  width: 680px;
  flex-shrink: 0;
}

.advertisement {
  width: 360px;
  margin: 0 0 0 120px;
  padding: 284px 0 0 0;
  flex-shrink: 0;
  background-image: url("../img/ad-logo.png");
  background-repeat: no-repeat;
  background-position: 0 39px;
}

.about-caption {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 74px 0 32px 0;
}

.about-subcaption {
  font-weight: bold;
  text-transform: uppercase;
}

.about .about-subcaption {
  margin: 39px 0 24px 0;
}

.advertisement .about-subcaption {
  margin: 0 0 0 16px;
}

.advertisement-features {
  margin: 55px 0 0 -3px;
}

.advertisement-features-value {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
}

.advertisement-features-caption {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  padding: 34px 0 0 0;
}

.about-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about-list-item {
  padding: 0 0 0 36px;
  margin: 24px 0 0 0;
  position: relative;
}

.about-list-item::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  top: 12px;
  left: 1px;
}
/* ========================================================================= */
/* ============================ portfolio-logos ============================ */
.partners {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  border-bottom: 2px solid #eeeeee;
}

.partners-list {
  padding: 0;
  margin: 52px 0 38px 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.partners-list-item {
  display: block;
  width: 260px;
  margin: 0 40px 0 0;
  min-height: 90px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-list-item:nth-child(4n) {
  margin-right: 0;
}

/* подгонка логотипов под макет */
.partners-list-item:nth-child(2) {
  margin-top: -11px;
}

.partners-list-item:nth-child(3) {
  margin-top: -12px;
}

.partners-list-item:nth-child(4) {
  margin-top: -7px;
}

.partners-list-item a {
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-list-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 12px;
  right: -21px;
  background-color: #eeeeee;
}

.partners-list-item:nth-child(4n)::after {
  width: 0px;
  height: 0px;
}

.partners-list-item a:hover,
.partners-list-item a:focus {
  opacity: 1;
}

.partners-list-item a:active {
  opacity: 0.1;
}

/* ========================================================================= */
/* ============================= контакты ================================== */
.contacts {
  width: 1200px;
  margin: 80px auto 0;
  padding: 0;
  position: relative;
}

/*.contacts iframe {
  border: none;
  min-width: 1200px;
  width: 100%;
  height: 416px;
  position: relative;
  z-index: 20;
}*/

/*.static-map-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  z-index: 20;
}*/

.static-map-wrapper img {
  /*margin: -416px 0 0 0;*/
  /*z-index: 10;*/
}

.contacts-address-writeus {
  box-sizing: border-box;
  width: 319px;
  height: 308px;
  background-color: #ffffff;
  padding: 31px 60px 46px 49px;
  position: absolute;
  top: 54px;
  left: 20px;
}

.contacts-address-writeus::before {
  content: "";
  width: 213px;
  height: 190px;
  position: absolute;
  bottom: 83px;
  left: 680px;
  z-index: 15;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts-address-writeus .address-caption {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  margin: 18px 0 24px 0;
}

.contacts-address-writeus p {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
}

.contacts-writeus {
  margin: 39px 0 0 0;
  width: 220px;
}
/* ========================================================================= */
/* ============================== футер ==================================== */
.main-footer {
  width: 1200px;
  margin: 47px auto 59px auto;
  padding: 0;
  display: flex;
}

.footer-social-buttons {
  width: 275px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px 0 20px;
}

.footer-social-buttons a {
  margin: 0 11px 0 0;
  display: block;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  position: relative;
}

.footer-social-buttons a:hover,
.footer-social-buttons a:focus {
  background-color: #e74246;
}

.footer-social-buttons a:active {
  background-color: #d7373b;
}

.footer-social-buttons a:active::before {
  opacity: 0.3;
}

.footer-social-button-vkontakte::before {
  content: "";
  width: 26px;
  height: 15px;
  position: absolute;
  left: 26px;
  top: 32px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-social-button-facebook::before {
  content: "";
  width: 12px;
  height: 22px;
  position: absolute;
  left: 34px;
  top: 28px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-social-button-instagram::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  left: 29px;
  top: 29px;
  background-image: url("../img/ig-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-texts {
  padding: 0 0 0 120px;
}

.footer-texts .footer-texts-caption {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  margin: 22px 0 0 0;
}

.footer-texts p {
  margin: 9px 0 0 0;
}
/* ========================================================================= */
